</body>
<script type="text/javascript">
    //文章里面的外链都打开新窗口    
    var alist = document.querySelectorAll(".article a");
    for(let i=0;i<alist.length;i++) if(alist[i].href.indexOf('#') < 0) alist[i].target="_blank"    
</script>
</html>