<html>
<head>
<title>my ejs template</title>
</head>

<body>
    <p>文章列表</p>
    <ul>
        <% list.forEach(function(item){%>
                <li><%=item.title %></li>
            <% }) %>
    </ul>
</body>
</html>