<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <title><%=title%></title>
</head>

<body>
    <div style="width:300px;">
        <%- include('nav', {navList: nav}); %>
    </div>
    
    <p>文章列表</p>
    <ul>
        <% for(var i=0;i< list.length;i++){%>
            <li><a href="<%= list[i].filePath+'?index='+list[i].index %>"><%=list[i].title %></a></li>
        <%}%>
    </ul>
</body>
</html>