<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <title><%=title%></title>
</head>
<body>
    <div style="width:300px;">
        <%- include('nav', {navList: nav}); %>
    </div>
    <%- html %>
</body>
</html>