//article
@import './var';
.article{
    padding: 20px;
    background-color: $white;
    .title{ text-align: center;}
    blockquote{
        font-size: 14px;
        border-color: $red;
        color: $red;
        font-style: oblique;
    }
}