@import './var';
$icon-w:40px;
.l-nav{
    width:$nav-width;
    position: fixed;
    left: 0;
    top:0;
    height: 100%;
    padding-top:$margin*2;
    background-color: $yellow;
}

.r-box{ 
    min-height: 100%;
    padding:$margin;      
    margin-left: $nav-width;
    width:calc(100% - #{ $nav-width});
    background-color: $grey;
    background:url('../img/mushrom.png') repeat-x;
    background-position: bottom;
    

}


.icon {
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }