@import './var';

.l-nav{
    width:$nav-width;
    position: fixed;
    left: 0;
    top:0;
    height: 100%;
    padding-top:$margin*2;
    background-color: $yellow;
    
    .nav-img{
        height: 100px;
        width: 100%;
        text-align: center;
        >img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    li{
        margin: 20px;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        color:$blue;
        a{ text-decoration: none;}
        &.li-active{
            background-color: #fff;
            color:$pink
        }
    }
}

.r-box{ 
    min-height: 100%;
    padding:$margin;      
    margin-left: $nav-width;
    width:calc(100% - #{ $nav-width});
    background-color: $grey;
    background:url('/static/img/mushrom.png') repeat-x;
    background-position: bottom;
    

}


